#gamePlayMain div {
    box-sizing: border-box;
}

#game_column {
    float: left;
    width: 50%;

}

#message_column {
    float: left;
    width: 40%;
    padding: 20px;
    font-size: 4vh;
}

#tic_tac_toe_board {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: rgb(56, 56, 165);
    width: 65vh;
    height: 65vh;
    margin-left: 20%;

}

.game_tile {
    font-family: Verdana;
    background-color: lavender;
    width: 20vh;
    height: 20vh;
    font-size: 17.5vh;
    text-align: center;
}

#play_again_button {
    color: white;
    background-color: rgb(226, 92, 92);
    border: none;
    visibility: hidden;
    font-size: 4vh;
    padding: 2vh 2vw;
    border-radius: 5px;
}

#play_again_button:hover {
    background-color: rgb(245, 173, 173);
}

#new_game_button {
    color: white;
    background-color: rgb(226, 92, 92);
    border: none;
    visibility: hidden;
    font-size: 4vh;
    padding: 2vh 2vw;
    border-radius: 5px;
}

#new_game_button:hover{
    background-color: rgb(245, 173, 173);
}

#gamePlayMain {
    display: none;
}